@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");

:root {
  --bg-dark: #000;
  --white: #fff;
  --gold: #bdae82;
  --inter-regular: 400 20px Inter, sans-serif;
  --inter-regular-text: 400 18px Inter, sans-serif;
  --inter-header: 700 20px Inter, sans-serif;
  --merriweather-h1: 700 60px Merriweather, serif;
  --merriweather-h2: 700 40px Merriweather, serif;
  --merriweather-h3: 700 28px Merriweather, serif;
}

body {
  width: 100%;
  background: var(--bg-dark);
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 20px;
}

h1 {
  font: var(--merriweather-h1);
  color: var(--white);
  line-height: 120px;
}

h2 {
  font: var(--merriweather-h2);
  color: var(--gold);
  width: 700px;
  margin: 0 auto 60px;
  text-align: center;
  overflow: hidden;
  line-height: 80px;
}

h2.lines::before,
h2.lines::after {
  content: "";
  background: var(--gold);
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2.lines::before {
  right: 20px;
  margin-left: -50%;
}

h2.lines::after {
  left: 20px;
  margin-right: -50%;
}

h3 {
  font: var(--merriweather-h3);
  color: var(--white);
  box-sizing: border-box;
  padding-top: 12px;
}

button {
  cursor: pointer;
  width: 220px;
  height: 55px;
  background: var(--gold);
  font: var(--inter-regular);
  color: var(--bg-dark);
  transition: 0.5s;
}

button:hover {
  color: var(--white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.seasons-container {
  max-width: 895px;
  display: flex;
  justify-content: space-between;
  height: 55px;
  margin: 60px auto;
}

.season {
  flex-basis: 220px;
  display: block;
  font: var(--inter-regular);
  color: var(--gold);
  counter-reset: var(--gold);
  background: var(--bg-dark);
  border: 2px solid var(--gold);
  transition: background 0.8s;
}

.season:hover {
  background: var(--gold);
  color: var(--bg-dark);
}

/* PRICE */

#price {
  padding-bottom: 100px;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price-card {
  flex-basis: 450px;
  height: 505px;
  border: 2px solid var(--gold);
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.price-card button {
  text-align: center;
  border: none;
}

.price-amount {
  font: var(--merriweather-h3);
  font-size: 24px;
  box-sizing: border-box;
  padding-top: 7px;
  color: var(--gold);
}

.features {
  font: var(--inter-regular-text);
  color: var(--white);
  text-align: center;
  box-sizing: border-box;
  line-height: 36px;
  padding-bottom: 8px;
}

/* CONTACT */
#contacts-header {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  width: 100%;
  text-align: left;
}

input,
textarea {
  display: block;
  border: 2px solid var(--gold);
  padding: 12px 19px;
  background: rgba(0, 0, 0, 0.3);
  color: var(--white);
  margin-bottom: 20px;
  transition: 0.5s;
  font: var(--inter-regular);
}

input:focus,
textarea:focus {
  background: var(--bg-dark);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--gold);
  font: var(--inter-regular);
}

input {
  width: 450px;
  height: 50px;
}

textarea {
  resize: none;
  width: 450px;
  height: 100px;
}

#send {
  margin-top: 11px;
  width: 220px;
  height: 55px;
  border: none;
  padding-right: 4px;
}

/* PORTFOLIO */
#portfolio {
  padding-top: 101px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.photo {
  width: 450px;
  height: 560px;
  margin: auto;
}

.first {
  background: url("assets/gallery/portfolio-img.jpg");
  background-repeat: no-repeat;
}

.second {
  background: url("assets/gallery/portfolio-img-1.jpg");
  background-repeat: no-repeat;
}

.third {
  background: url("assets/gallery/portfolio-img-2.jpg");
  background-repeat: no-repeat;
}

.fourth {
  background: url("assets/gallery/portfolio-img-3.jpg");
  background-repeat: no-repeat;
}

.fifth {
  background: url("assets/gallery/portfolio-img-4.jpg");
  background-repeat: no-repeat;
}

.sixth {
  background: url("assets/gallery/portfolio-img-5.jpg");
  background-repeat: no-repeat;
}
/* SKILLS */
#skills {
  padding: 100px 20px 0;
}

.skill-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  width: 320px;
}

.item-header {
  font: var(--inter-header);
  color: var(--white);
  text-align: center;
  padding-top: 23px;
  line-height: 40px;
}

.item-text {
  font: var(--inter-regular-text);
  color: var(--white);
  text-align: center;
  width: 280px;
  line-height: 36px;
  padding-bottom: 8px;
}

#video {
  padding: 80px 20px;
}

.video-container {
  width: 100%;
  height: 705px;
  background: url("assets/bg/video-player-bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts {
  position: absolute;
  width: 445px;
  height: 450px;
  padding: 0;
  top: 60px;
  right: 25px;
}

footer {
  max-width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer div {
  font: var(--inter-regular);
  line-height: 50px;
  color: var(--white);
}

.social {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social li {
  width: 32px;
  height: 32px;
  padding: 2px;
}

.credits {
  width: 182px;
  display: flex;
  box-sizing: border-box;
  padding: 0 0 1px 1px;
}

.credits div {
  padding-right: 20px;
}

.credits a {
  text-decoration: none;
  color: var(--white);
}

.header {
  padding: 0;
  background: url("assets/bg/header-bg.jpg");
  max-width: 100%;
  height: 910px;
}

header {
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  width: 570px;
  height: 50px;
  display: flex;
}

.links-container nav {
  width: 500px;
}

.links-container div {
  width: 70px;
  text-align: center;
  font: var(--inter-regular);
  color: var(--white);
  font-weight: bold;
  line-height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

nav ul li a {
  font: var(--inter-regular);
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}

.school {
  box-sizing: border-box;
  padding: 1px 0 0 5px;
}

.school a {
  text-decoration: none;
  color: var(--white);
}

a {
  transition: 0.5s;
}

a:hover {
  color: var(--gold);
}

.hero-content {
  width: 500px;
  height: 300px;
  margin: 140px 0 0 61px;
}

.hero-content p {
  color: var(--white);
  font: var(--inter-regular);
  line-height: 40px;
  padding: 10px 0 25px;
}

.hero-content button {
  border: none;
  transition: 0.5s;
}

.gold {
  color: var(--gold);
}

span {
  font-weight: bold;
  transition: 0.5s;
}

span:hover {
  cursor: pointer;
}

.active {
  background: var(--gold);
  color: var(--bg-dark);
}

.contacts-bg {
  position: relative;
  height: 700px;
  background: url("assets/bg/contacts-bg.jpg");
}

.header-bg {
  background: url("assets/bg/header-bg.jpg");
  height: 910px;
  width: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition: 0.5s;
}

.icon:hover {
  fill: #bdae82;
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.video-icon {
  width: 130px;
  height: 130px;
}

.video-container button {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  background: transparent;
}
